#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_bitcoin
#build/bitcoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_bitcoin)

DEB_INSTALL_EXAMPLES_chbtokend += debian/examples/*
DEB_INSTALL_MANPAGES_chbtokend += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix chbtokend
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f chbtoken-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake chbtoken-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_chbtoken
	src/test_chbtoken

# Ensure wrapper is set executable
binary-post-install/chbtokend:
	chmod +x $(cdbs_curdestdir)usr/bin/chbtokend
binary-post-install/chbtoken-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/chbtoken-qt
